<form action="/team_members/<%= @id %>" "method="PUT">
  <input type="text" name="name" value="<%= @edit_team_member["name"] %>" />
  <input type="text" name="high5s" value="<%= @edit_team_member["high5s"] %>" />
  <input type="submit" value="Edit team member." />
</form>
