<!DOCTYPE html>
<html>
	<head>
		<title>High Five Tracker</title>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="http://localhost:9292/css/highfive.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-sm-2 col-sm-offset-5">
					<img src="http://localhost:9292/images/neon_hand.jpg" alt="Neon Hand" height="75" width="75">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<h1>High Five Tracker</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<%= yield %>
				</div>
			</div>
		</div>
	</body>
</html>