
<form action='/team_members' method='POST'>
  <input type="text" name="name" placeholder="Team Member Name" />
  <input type="text" name="high5s" placeholder="Starting High 5s" />
  <input type="submit" value="Create new team member." />
</form>
